.event-list {
  width: 75%;
  margin: 0px;
  padding: 16px;
}

.event-list-item {
  display: inline-block;
  margin: 0px 16px;
  list-style-type: none;
  border-bottom: 1px solid black;
}

.event-title {
  margin-bottom: 0;
}

.event-date {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}

.event-roles {
  font-size: 16px;
  line-height: 24px;
}
