.app-header {
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
}

.app-event-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.app-name {
  color: white;
  margin: 0;
}

.app-body {
  display: flex;
}
